div{
	font-size: 20px;
}

.input-burget{
	font-size: 25px;
}
.input-burget::placeholder{
	font-size: 25px;
}

/* 예산 작성 */
.header-font{
	margin-bottom: 20px;
	margin-left: 10px;
	
	font-size: 50px;
}

.burget-input-box{
	width: 20%;
}

.burget-btn-box{
	margin-top: 20px;
	
	text-align: end;
}

/* 자제 카테고리 */
.card-wrapper{
	display:flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory; /* 스크롤 스냅 (선택 사항) */
	
}
.card-box{
	display: flex;
	flex-direction: column;
	
	min-width: 320px;
	
	margin-right: 14px;
}

/* 상단 style */
.card-box__top{
	position: relative;
	
	width: 100%;
	height: 50%;
	
	overflow: hidden;
}
.mater-category{
	position: absolute;
	
	top: 3px;
	left:3px;
	
	border-radius: 8px;
	
	background-color: grey;
	font-size: 20px;
}
.card-box__top img{
	width: 100%;
	height: 100%;
}

/* 하단 style */
.card-box__bottom{
	width: 100%;
	height: 50%;
}
.materials{
	width: 100%;
	heihgt: 80%;
}
.btn-box{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	heihgt: 20%;
}


/* Modal */
.sjm_mocdal-box{
	display: none;
	position: fixed;
	overflow-x: hidden;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 70%;
	height: 80%;
	
	background-color: #fff;
}

.modal-box__top{
	width: 100%;
	height: 60%;
	
	overflow: hidden;
}
.modal-box__top img{
	width: 100%;
	height: 100%;
}

.modal-box__bottom{
	width: 100%;
	height: 40%;
}

.modal-botton__material{
	font-size: 25px;
	font-weight: bold;
}

.modal-botton__rating{
	display: flex;
	width: 100%;
	
	font-size: 17px;
}

.modal-botton__explain{
	font-size: 20px;
}


/* 계산 */
.calculate-box{
	display: flex;
	
}












